<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body></body>
  <script>
    async function getApi() {
      const URL = "http://127.0.0.1:5000/api/entries";
      const response = await fetch(URL);
      const json = await response.json();

      const titles = json.map((entry) => entry.title);
      console.log(titles);
      document.write(titles.join(", "))
    }
    getApi();
  </script>

</html>